<div class="spotlight">
    <h2><strong>Media Spotlight:</strong> <span class="green"><%=Work.spotlight.title%> </span>  </h2> 
    <p> insert votes - <%=Work.spotlight.description%> </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 class="green">Top Movies</h3>
        <ul>
            <% work_group = @work.where("category = ?", "movie")%>
            <% 10.times do |i| %>
                <span class="green_title"><%= link_to "#{work_group[i].title}", work_path(work_group[i].id) %></span> <span class="gray_creator">by <%=work_group[i].creator%></span>
                <p>num of votes<p>
            <% end %>
        </ul>
    </div>
    <div class="col-sm">
      <h3 class="green">Top Books</h3>
        <ul>
            <% work_group = @work.where("category = ?", "book")%>
            <% 10.times do |i| %>
                <span class="green_title"><%= work_group[i].title %></span> <span class="gray_creator">by <%=work_group[i].creator%></span>
                <p>num of votes<p>
            <% end %>
        </ul>
    </div>
    <div class="col-sm">
      <h3 class="green">Top Albums</h3>
        <ul>
            <% work_group = @work.where("category = ?", "album")%>
            <% 10.times do |i| %>
                <span class="green_title"><%= work_group[i].title %></span> <span class="gray_creator">by <%=work_group[i].creator%></span>
                <p>num of votes<p>
            <% end %>
        </ul>
    </div>
  </div>
</div>

