
<h3><span class="green-with-space">User Summary: <%=@user.name%></span></h3>
<p>Joined site <%=@user.created_at.strftime("%B %d, %Y")%></p>
<h4>Votes</h4>
<table class="table">
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>    
    <th>Category</th>
    <th>Voted On</th> 
  </tr>

  <% vote_group = Vote.where(user_id: params[:id]) %>
  <% vote_group.each do |vote| %>
    <tr>
      <td><%= link_to vote.work.title, work_path(vote.work.id) %></td>
      <td><%= vote.work.creator %></td>
      <td><%= vote.work.publication_year %></td>
      <td><%= vote.work.category %></td>
      <td><%=vote.created_at.strftime("%B %d, %Y")%></td>
    </tr>
  <% end %> 
</table>

<button  class="btn btn-primary gray">
  <%= link_to "See all Users", users_path %>
</button>

<button type="button" class="btn btn-primary">
  <%= link_to "Back to Media List", works_path %>
</button>
