<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <h1 class="headerwords"><%= link_to "Media Ranker", root_path , class:"orange-header"%> <span class="white-title"> <span class="white-line">  |  </span>  Ranking the Best of Everything</span></h1>
  
      <div class="btn-group ">
        <button type="button" class="btn btn-link">
          <%= link_to "View top media", root_path %>
        </button>   
      </div>

      <div class="btn-group ">
        <button type="button"class="btn btn-link" >
          <%= link_to "View all media", works_path %>
        </button>
      </div>

      <div class="btn-group ">
        <button type="button"class="btn btn-link" >
          <%= link_to "Add a new work", new_work_path %>
        </button>
      </div>

      <div class="btn-group ">
        <button type="button"class="btn btn-link" >
          <%= link_to "View all users", users_path %>
        </button>
      </div>
        

      <% if session[:user_id] == nil %>
        <button type="button" class="btn btn-primary">
          <%= link_to "Log In", login_path %>
        </button>

      <% else %>
        <button  class="btn btn-primary">
          <%user = User.find_by(id: session[:user_id])%>
          <%= link_to "Logged in as #{user.name}", user_path(user.id) %></td>
        </button>

        <button type="button" class="btn btn-primary">
          <%= link_to "Log Out", logout_path, method: :post %>
        </button>
      <% end %>
     
   
    </nav>
  </header>

    <section class="flash-msg__section">
      <% flash.each do |name, message| %>
        <strong class="<%= name %>">
          <%= message %>
        </strong>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
