<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <h1 class="headerwords"><%= link_to "Media Ranker", root_path , class:"orange-header"%> <span class="white-title"> <span class="white-line">  |  </span>  Ranking the Best of Everything</span></h1>
      
      <span class="nav-item float-left"><%= link_to "View top media", root_path %> </span>
      <span class="nav-item float-left"><%= link_to "View all media", works_path %></span>
      <span class="nav-item float-left"><%= link_to "Add a new work", new_work_path %></span>
      <span class="nav-item float-left"><%= link_to "View all users", users_path %></span>
     
        
      <% if session[:user_id] == nil %>
        <button class="nav-item float-right round"><%= link_to "Log In", login_path %></button>
      <% else %>
        <button class="nav-item float-right round"><%= link_to "Log Out", logout_path, method: :post %></button>
        <%user = User.find_by(id: session[:user_id])%>
        <button class="nav-item float-right round"> <%= link_to "Logged in as #{user.name}", user_path(user.id) %></td></button>
      <% end %>
    </nav>
    <br>
  </header>

    <section class="flash-msg__section">
      <% flash.each do |name, message| %>
        <strong class="<%= name %>">
          <%= message %>
        </strong>
      <% end %>
    </section>
    <br>
    <%= yield %>
  </body>
</html>
