<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
    <h1 class="headerwords"><%= link_to "Media Ranker", root_path , class:"orange-header"%> <span class="white-title"> <span class="white-line">  |  </span>  Ranking the Best of Everything</span></h1>
 
    <div class="btn-group ">
      <button type="button" class="btn btn-link">
        <%= link_to "View top media", root_path %>
      </button>
        
    </div>
     <div class="btn-group ">
      <button type="button"class="btn btn-link" >
        <%= link_to "View all media", works_path %>
      </button>

      </div>
     <div class="btn-group ">
      <button type="button"class="btn btn-link" >
        <%= link_to "Add a new work", new_work_path %>
      </button>

      </div>
     <div class="btn-group ">
      <button type="button"class="btn btn-link" >
        View all users
      </button>

        </div>
     <div class="btn-group ">
      <button type="button" class="btn btn-link">
        logged in to implement
      </button>

        </div>
     <div class="btn-group ">
      <button type="button"class="btn btn-link" >
        Log Out
      </button>
        
    </div>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
