<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
    <h1 class="headerwords"><span class="orange-header">Media Ranker  </span><span class="white-title"> <span class="white-line">  |  </span>  Ranking the Best of Everything</span></h1>
 
    <div class="btn-group ">
      <button type="button" class="btn btn-link">
        View top media
      </button>
        
    </div>
     <div class="btn-group ">
      <button type="button"class="btn btn-link" >
        View all media
      </button>

      </div>
     <div class="btn-group ">
      <button type="button"class="btn btn-link" >
        Add a new work
      </button>

      </div>
     <div class="btn-group ">
      <button type="button"class="btn btn-link" >
        View all users
      </button>

        </div>
     <div class="btn-group ">
      <button type="button" class="btn btn-link">
        logged in to implement
      </button>

        </div>
     <div class="btn-group ">
      <button type="button"class="btn btn-link" >
        Log Out
      </button>
        
    </div>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
